
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


#footer{
	text-align:center;

	padding:100px 0px 50px 0px!important;
	font-family:"karla", sans-serif !important;
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:10px;
}

#footer1{
	text-align:center;

	padding:-200px 0px 50px 0px!important;
	font-family:"karla", sans-serif !important;
	text-transform:uppercase;
	letter-spacing: 1px;
	font-size:10px;
}


body {
  height:100%;
  padding: 0;
  text-align: center;
  font-family: 'overpass', sans-serif;
	font-weight:300;
  position: relative;
  margin: 0;
	background-color:#efefef;
	background-size:100vw;
}

body.subpages{
	background-color:#fff;
	background-image:none;
}


.name{
	display:inline-block;
	line-height:normal;
	margin-left:0;

}

 .graybg span{
	background-color:red;
}

.bg {
  position: relative;
  min-height: 100vh !important;
	max-height:100vh !important;
  z-index:-100;
}

.ibg-bg {
  position: absolute;

}

.nav-up {
    top: -70px;
}



header {
		text-align:left;
		background-color: rgba(255, 255, 255, 0.8);
		padding: 15px;
    height:60px;
    position: fixed;
    top: 0;
    transition: top 0.5s ease-in-out;
    width: 100%;
		z-index:999999;
		font-family:"karla";
		font-size:20px;
		text-transform:lowercase;
}

header a:hover{
	color:#000;
}

.column li{
	padding-bottom:10px;
}

span.selected-li{
	color:#515151;
	border-bottom:1px dotted #909090;
}

span.tools{
	font-family:"overpass",sans-serif;
	text-transform: capitalize;
	font-size: 12px;
	opacity:0.8;
}


.container-footer{
	border:none;
	text-transform:lowercase;
	max-width:600px;
	color:#525252;
	margin:auto;
	width:80%;
	font-family:'overpass', sans-serif !important;
	font-size:30px;
	font-weight:lighter;
}

.text span{
	background-color:#fff;
}

.text{
	top:40px;
	max-width:900px;
  background-color:transparent;
  font-size:40px;
  padding:60px;
	text-align:left;
	font-family:"Overpass", sans-serif;
	color:#808080;

	text-transform:none;

	margin:auto;
	position:relative;
}

.wrapper-top{
	min-height:100vh;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 900px;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}


.events-content em span{
  border-bottom:2px solid yellow;
}

a span{
	-webkit-transition: 0.5s; /* Safari */
	transition: 0.5s;
	-moz-transform:0.5s;
	-ms-transform:0.5s;
	-o-transform:0.5s;
}

a:hover span{
  text-decoration:none;
  border-bottom:2px solid #ffdbd0;
  cursor:pointer;
}




.toplink span a{
	border:none;
	font-size:14px;
	letter-spacing:1px;

	text-transform:uppercase;
	font-family:"karla";

	border-bottom:none;
	font-size:12px;
  color:#858585;
	-webkit-transition: 0.5s; /* Safari */
	transition: 0.5s;
	-moz-transform:0.5s;
	-ms-transform:0.5s;
	-o-transform:0.5s;
	padding:5px;
	position: relative;
  top: 0;

}

.toplink span a:hover{
	color:black;
	border:none;
}


.name span a{
	background-color:yellow;
	color:black;
	border:none;

font-family:"karla";
text-transform:uppercase;
letter-spacing:1px;
font-size:14px;
/*
background-image: -webkit-linear-gradient(deg, #80A8F5 20%, #989CFF 50%, #FF987C 90%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;*/
}

.name span a:hover{
	background-color:#efefef;
	color:black;
}


.main-front {
  width: 100%;
}

.main {
  min-height:100vh;
  width: 100%;
  margin: 0 auto;
}

.cover{
	background-size:cover;
	min-height:100vh;
	margin-bottom:50px;
	padding-bottom:50px;
}

.cover2{
	background-size:cover;
}

.container-img i{
	font-size:15px;
}

.container-img-header{
	width:90%;
	margin:auto;
	margin-bottom:-10px;
	background-size:cover;
}

.right-img{
	float:right;
}

.left-img{
	float:left;
}

/*.container-dark img{
	-webkit-box-shadow: 0px 0px 5px 0px rgba(224,224,224,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(224,224,224,1);
	box-shadow: 0px 0px 5px 0px rgba(224,224,224,1);
	text-align:center;
}*/

.arrow-front {

  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40px;
  height: 60px; /*change with size of arrow to make sit on bottom */
/*   background-image: url(); */
/*   background-size: contain; */
}



.arrow-bot {
	font-size:30px;
	  left: 50%;
}

.special-i {
  display: block;
  color: #c1c1c1;

}

.special-i:hover{
		  color:#949494;
}

.special-i2 {
  display: block;
  color: #949494;

}

.special-i2:hover{
		  color:#333;
}

.container-dark{
	max-width:600px;
	text-align:left;
	color:#525252;
	margin:auto;
	width:80%;
	font-family:'overpass', sans-serif !important;
	font-size:15px;
	font-weight:lighter;
	line-height:30px;
	margin-bottom:30px;
}

.bigimg{
	max-width:1000px;
	text-align:left;
	color:#525252;
	margin:auto;
	width:80%;
	font-family:'overpass', sans-serif !important;
	font-size:15px;
	font-weight:lighter;
	line-height:30px;
	margin-bottom:30px;
}


.card-row{
	max-width:1500px;
	margin:auto;
	margin-top:100px;
}

.card{
	text-align:left;
	font-family:"overpass",sans-serif;
	font-size:13px;
	font-weight:300;
	display:inline-block;
	background-color:#f9f9f9;
	border:1px solid #e0e0e0;


	/*background-color:#fff;

	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.20);
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.20);
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.20);*/

	padding:20px;
	margin: 15px 5px 0px 5px;
	width:15vw;
	height:300px;
	position: relative;
  top: 0;
	overflow:hidden;
	overflow-y:auto;

	opacity: 0.8;
	filter: alpha(opacity=80);

	-webkit-transition: 0.5s; /* Safari */
	transition: 0.5s;
	-moz-transform:0.5s;
	-ms-transform:0.5s;
	-o-transform:0.5s;
}


.card2-row{
	max-width:1500px;
	margin:auto;
	margin-top:100px;

}

.card2{

	text-align:left;
	font-family:"overpass",sans-serif;
	font-size:13px;
	font-weight:300;
	display:inline-block;
	background-color:#f9f9f9;
	border:1px solid #e0e0e0;


	/*background-color:#fff;

	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.20);
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.20);
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.20);*/

	padding:20px;
	margin: 15px 5px 0px 5px;
	width:20vw;
	height:350px;
	position: relative;
	top: 0;
	overflow:hidden;
	overflow-y:auto;

	opacity: 0.8;
	filter: alpha(opacity=80);

	-webkit-transition: 0.5s; /* Safari */
	transition: 0.5s;
	-moz-transform:0.5s;
	-ms-transform:0.5s;
	-o-transform:0.5s;
}

.card-list{
	margin:0;
	margin-left:10px;
	padding:0;
	list-style:circle;
}

.card-list li{
	margin-bottom:5px;
}


.card:hover{

		-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.10);
		-moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.10);
		box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.10);

	opacity: 0.9;
	filter: alpha(opacity=90);
}

.card2:hover{

		-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.10);
		-moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.10);
		box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.10);

	opacity: 0.9;
	filter: alpha(opacity=90);
}

a.medium-button{

	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	/*border-radius:3px;*/

	display:inline-block;
	background-color:#f2f2f2;
	letter-spacing:1px;
	border: 1px solid #e0e0e0;
	font-family: "karla",sans-serif;
	padding:10px;
	/*border-radius:3px;*/
	width:200px;
	color:#4d4d4d;
	-webkit-transition: 0.5s; /* Safari */
	transition: 0.5s;
	-moz-transform:0.5s;
	-ms-transform:0.5s;
	-o-transform:0.5s;
	margin: 0 10px 0px 0;
}

a.medium-button:hover{
	background-color:#ebebeb;
	border: 1px solid #c7c7c7;
	color:#4d4d4d;
}



.wrapper{
  height:100%;
  width:100%;
  display:table;
  margin:auto;

}


.left-main{
  mix-blend-mode:darken;
}

.right-main{
  background-color:#ffdbd0;
  mix-blend-mode:darken;
  height:50vh;
  margin-top:20%;
}

.right-right{
  background-color:yellow;
  mix-blend-mode:darken;
  height:50vh;
  margin-top:20%;
}




 .number{
	text-transform:lowercase;
	z-index: -999;
	position:absolute;
	left:5vw;
	margin-top:-35px;

	font-size:100px;
	color:#f2f2f2;
	font-weight:bold;
	font-family:"overpass", sans-serif;

	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
	cursor:default;
}

.number2{
 text-transform:lowercase;
 z-index: -999;
 position:absolute;
 left:5vw;
 margin-top:-35px;

 font-size:100px;
 color:#f2f2f2;
 font-weight:bold;
 font-family:"overpass", sans-serif;

 -webkit-user-select: none; /* Chrome/Safari */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* IE10+ */

 /* Rules below not implemented in browsers yet */
 -o-user-select: none;
 user-select: none;
 cursor:default;
}



#portfolio{
	margin-top:80px;
  font-size: 12px;
  font-family:'overpass', sans-serif;
  color:#b6b6b6;
  text-align:center;
}

.contain{
	overflow:hidden;
}



.contain2{
	text-align:center;
	margin:100px 0px;
	font-family:'karla', sans-serif !important;
	text-transform:uppercase;
	font-size:10px;
}

a.btt{
	font-size:12px;
	background-color:#f0f0f0;
	-webkit-transition: 0.5s; /* Safari */
	transition: 0.5s;
	-moz-transform:0.5s;
	-ms-transform:0.5s;
	-o-transform:0.5s;
	color:#393939;
	border:none;
	padding:5px;
}

a.btt:hover{
	font-size:12px;
	background-color:#eaeaea;

}


.text-boxes{
  text-align:center;
  padding:40px;
  margin:40px;
  font-size:14px !important;
  line-height:22px !important;
  color:#393939;
  background-color:#fff;
	font-family:"overpass", sans-serif;
}

.text-boxes img{
  cursor:pointer;
	border:15px solid #ebebeb
}

.hover-box{
  display:none;
  background-color:pink;
  padding:50px;
  margin:50px;
  margin-left:-100px;
}







h1{
  font-weight:lighter;
	text-transform:lowercase;
	font-size:40px !important;
  margin-top:15px !important;
	font-family:"helvetica",sans-serif;
	color:#4a4a4a;
	padding:0px 10px;
}

h6{
  font-weight:lighter;
	text-transform:lowercase;
	font-size:30px !important;
	margin:100px 0 10px 0;
	font-family:"helvetica",sans-serif;
	color:#4a4a4a;
}

h7{
	font-size:15px;
	text-align:center;
	font-family:"Fira Sans",sans-serif;
	margin:10px;
	font-style:italic;
}

.subheader{
	font-size:16px;
	letter-spacing:1px;
	font-family:"karla" !important;
	margin:40px 0 20px 0 !important;
	font-weight:bold;
	text-transform:uppercase;
	color:#b5b5b5;
}

span.hello3{
	border-bottom:3px solid yellow;
}

span.hello4{
	color:#fff;
	font-style:italic;
	font-size:20px;
}




span.hello-light{
	border-bottom:3px solid yellow;
	color:#fff;
}

span.hello-dark{
	border-bottom:3px solid yellow;
	color:#666;

}

.blockquote{
	background-color:#f2f2f2;
	font-size:20px;
	text-align:center;
	font-family:"Fira Sans",sans-serif;
	margin:20px 0;
	padding:10px;
	font-style:italic;
}

h2 {
  font-size: 30px;
  color:#333;
	font-weight:lighter;
}

h3{
	padding:15px 0px;
  text-align:left;
  margin:0;
	opacity:0.5;
		font-size:12px;
		font-weight:bold ;
		text-transform:uppercase;
		font-family:"karla";
		letter-spacing:1px;

}

h4{
	font-size:40px;
	line-height:50px;
	text-transform:capitalize;;
	text-align:left;
	font-family:"karla", sans-serif;
	margin: 100px 0px 50px -5px;
	font-weight:lighter;
}

h5{
	border-bottom:1px solid #dedede;
	padding-bottom:10px;
	text-align:center;
	font-size:15px;
	font-weight:normal;
	text-transform:uppercase;
	margin:0 0 10px 0;
	color:#909090;
	font-family:"karla";
	letter-spacing: 1px;
}

.icon{
	margin-right:-10px;
	width:20px;
	float:left;
}

.caption{
	text-align:center;
margin-bottom:50px;
	font-size:12px;
	font-style:italic;
}

.caption span{
	background-color:#f2f2f2;
	padding:3px 10px ;

}

.underline {
  border-bottom:2px solid yellow;
  color:#333;
  font-size:15px;
}

b.highlight2{
	font-size:15px;
	border-bottom:2px solid yellow;
	color:#333;
  background-color:white;
	-webkit-transition: 0.5s; /* Safari */
	transition: 0.5s;
	-moz-transform:0.5s;
	-ms-transform:0.5s;
	-o-transform:0.5s;
	font-weight:normal;
}

b.highlight{
  background-color:yellow;
	-webkit-transition: 0.5s; /* Safari */
	transition: 0.5s;
	-moz-transform:0.5s;
	-ms-transform:0.5s;
	-o-transform:0.5s;
	font-weight:normal;
}

a.pinklink{

	letter-spacing:1px;

	text-transform:uppercase;
	font-family:"karla";

	border-bottom:none;
	font-size:12px;
  color:#656565;
	-webkit-transition: 0.5s; /* Safari */
	transition: 0.5s;
	-moz-transform:0.5s;
	-ms-transform:0.5s;
	-o-transform:0.5s;
	background-color:#fff;
	padding:5px;
	position: relative;
  top: 0;

}

a.pinklink:hover{
  /*color:#fa9a7d;*/
	background-color:#fff;
	color:#000;

		-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.15);
		-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.15);
		box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.15);
}

a.smallerlink{
	color:#fa9a7d;
	font-size:16px;
	-webkit-transition: 0.5s; /* Safari */
	transition: 0.5s;
	-moz-transform:0.5s;
	-ms-transform:0.5s;
	-o-transform:0.5s;
}

a.smallerlink:hover{
	color:#f2805d;

}

a{
  color:#a4a4a4;
  text-decoration:none;
	-webkit-transition: 0.5s; /* Safari */
	transition: 0.5s;
	-moz-transform:0.5s;
	-ms-transform:0.5s;
	-o-transform:0.5s;
	border-bottom:1px dotted #909090;
}

a:hover{
	color:#fa9a7d;
}

a.highlight:hover{
  border-bottom:2px solid yellow;
}


a.image{
  text-decoration:none;
}

a.image:hover{
  border:none;
  text-decoration:none;
}

.fa{
	-webkit-transition: 0.5s; /* Safari */
	transition: 0.5s;
	-moz-transform:0.5s;
	-ms-transform:0.5s;
	-o-transform:0.5s;

}


.arrow  {
  color:#b1b1b1;
	-webkit-transition: 0.5s; /* Safari */
	transition: 0.5s;
	-moz-transform:0.5s;
	-ms-transform:0.5s;
	-o-transform:0.5s;
}

.arrow:hover  {
  color:#000;

}



/* Tooltip text */

.tooltip{
	display:inline-block;
}

.tooltip a{
		border:none!important;
}

.tooltip .tooltiptext {

		top: 80%;
	 	/*left: 50%;*/

    visibility: hidden;
		letter-spacing:1px;
		text-transform:uppercase;
		font-size:10px;
		font-family:"karla";
		font-weight:lighter;
    width: auto;
    background-color: #eaeaea;
    color: #555;
		border:none;
    text-align: center;
    padding: 2px 5px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

		opacity: 0;
		transition: opacity 1s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
		opacity: 1;
}

.category{
  padding: 2px;
  font-size:12px;
  color:#333333;
  font-family:"overpass", sans-serif;
  background-color:#f1f1f1;
	-webkit-transition: 0.5s; /* Safari */
	transition: 0.5s;
	-moz-transform:0.5s;
	-ms-transform:0.5s;
	-o-transform:0.5s;
	text-transform:lowercase;
}

.category:hover{
  background-color:#d8d8d8;

}

.category1{
  padding: 5px;
  font-size:11px;
  color:#656565;
  font-family:"overpass", sans-serif;;
  background-color:#fff;

	-webkit-transition: 0.5s; /* Safari */
	transition: 0.5s;
	-moz-transform:0.5s;
	-ms-transform:0.5s;
	-o-transform:0.5s;
}

.category1:hover{
	background-color:#f1f1f1;

}

.preview{
  border:15px solid #fff;
  width:100%;
  margin-top:100px;
  background-color:#f1f1f1;
  margin-bottom:15px;
}


.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*header {
		text-align:left;
		background-color: rgba(255, 255, 255, 0.8);
		padding: 20px;
		padding-left:50px;
    height:80px;
    position: fixed;
    top: 0;
    transition: top 0.5s ease-in-out;
    width: 100%;
		z-index:999999;
		font-family:"Helvetica";
		font-size:24px;
		font-weight:bold;
}

.header {
  overflow: hidden;
  clear: both;
  margin:100px;
  margin-right:100px;
  text-align:left;
  position:relative;
  height:100vh;
  font-size:20px;
}

header a:hover{
	color:#000;
}*/

.column li:nth-child(even) {
  width: 50%;
  float: right;
}
.column li:nth-child(odd) {
  width: 50%;
  float: left;
}


.preview-left{
	width:70%;
	float:left;
	padding:0;
	margin:0;
	margin-bottom:100px;
	-webkit-transition: .5s; /* Safari */
  transition: .5s;
  -moz-transform:.5s;
  -ms-transform:.5s;
  -o-transform:.5s;
}

.preview-left:hover{
	-webkit-box-shadow: -7px 7px 0px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: -7px 7px 0px 2px rgba(0,0,0,0.24);
	box-shadow: -7px 7px 0px 2px rgba(0,0,0,0.24);


}

.preview-right{
	width:30%;
	background-color:#fff;
	height:100%;
	padding:30px 20px 30px 20px;
	float:left;
	text-align:center !important;
}


/* change background color */

/* Setting fade transition and default settings */
body {
  background-color: #f6f6f6;
  transition: background-color 1s ease;
}

/* panel styles */


.panel2 {
	min-height:100vh;
	margin:50px 0px;
	display: flex;
  justify-content: space-around;
  font-family: "overpass", sans-serif;
}


.panel {
  /* min height incase content is higher than window height */
	display: flex;
  justify-content: space-around;
  height: 100vh;
  font-family: "overpass", sans-serif;
  /*outline: 10px solid hotpink;*/
  /* turn above on to see the edge of panels */

}

.panelwrapper{
	height:10vh;
}


.panel-category{
	display:inline-block;
  padding: 2px;
  font-size:14px;
  color:#333333;
  font-family:"overpass", sans-serif;
  background-color:#fff;
	-webkit-transition: 0.5s; /* Safari */
	transition: 0.5s;
	-moz-transform:0.5s;
	-ms-transform:0.5s;
	-o-transform:0.5s;
	text-transform:lowercase;
	opacity: 0.8;
  filter: alpha(opacity=80);
}

.panel-category:hover{
	  background-color:#fff;
		opacity: 1.0;
		filter: alpha(opacity=100);
}

.panel-body-text{
	opacity:0.9;
	filter: alpha(opacity=90);
}

.panel-text{
	width:40vw !important;
	text-align:left;
	font-family:"overpass", sans-serif;
	color:#fff;
	font-size:16px;
	padding:50px 10px 50px 100px;
}

.panel-text h2{
	margin:0 0 -10px -2px;
	font-size:30px;
	text-transform:none;
	font-family:"karla", sans-serif;
	color:#fff;
	letter-spacing:1px;
}


.about-image {
    text-align: left;
		-webkit-flex: 1;
				flex: 1;

				margin:0px 50px;
				max-width:400px;
				display:inline-block;
}

.about-text{
text-align:left;
	-webkit-flex: 1;
				flex: 1;

				font-family:"overpass", sans-serif;
				color:#282828;
				font-size:16px;
				padding:50px;
}


.flex-container {

	margin-top:12vh;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}


.panel-text-dark{
	width:40vw !important;
	text-align:left;
	font-family:"overpass", sans-serif;
	color:#282828;
	font-size:16px;
	padding:50px 10px 50px 100px;
}

.panel-text-dark h2{

	font-size:30px;
	text-transform:none;
	font-family:"karla", sans-serif;
	color:#282828;
letter-spacing:1px;
	margin:0 0 -10px -2px;
}



.panel-image{
	width:55vw;
	margin-left:5vw;
	margin-right:-10vw;
}

 .fourtypercent{
	 width:40%;
 }

 .fourtypercent2{
	 width:40%;
 }

.img-shadow{
	-webkit-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow:    0px 0px 25px 0px rgba(50, 50, 50, 0.25);
	box-shadow:         0px 0px 25px 0px rgba(50, 50, 50, 0.25);
	margin-right:25px;
}

.panel-link-white a{
	font-size:12px;
	font-weight:bold;
	text-transform:overpass;
	font-family:"overpass";
	letter-spacing:1px;

	margin-top:20px;
	color:#000 !important;
	background-color:#fff;
	padding:8px;
	display:inline-block;
	width:150px;
	text-align:center;
	font-weight:normal;
	-webkit-transition: 0.5s; /* Safari */
	transition: 0.5s;
	-moz-transform:0.5s;
	-ms-transform:0.5s;
	-o-transform:0.5s;

	border:1px solid #d1d1d1;

	/*border-radius:3px;*/

}

.panel-link-white a:hover{

		-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.15);
		-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.15);
		box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.15);
	color:#000;
}



.panel-link a{

	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	font-family:"karla";
	letter-spacing:1px;

	color:#000 !important;
	background-color:#fff;
	margin-top:20px;
	padding:8px;
	display:inline-block;
	width:150px;
	text-align:center;
	font-weight:normal;
	-webkit-transition: 0.5s; /* Safari */
	transition: 0.5s;
	-moz-transform:0.5s;
	-ms-transform:0.5s;
	-o-transform:0.5s;

	border:none;
}

.panel-link a:hover{

		-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.35);
		-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.35);
		box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.35);
	color:#000;
}


/* colors */
.color-transparent {
	background-color: #efefef;
}
.color-pawtty {
  background-color: #fbd8c8;
	background-blend-mode:darken;
}
.color-climb {
  background-color: #4D596E;
	background-blend-mode:darken;
}

.color-doordash {
  background-color: #DA6B72;
	background-blend-mode:darken;
}

.color-leaguemobile {
  background-color: #fff;
	background-blend-mode:lighten;
}
.color-bvui {
  background-color: #98cbbc;
	background-blend-mode:darken;
}
.color-bvanalytics {
  background-color: #e7bcad;
	background-blend-mode:darken;
}


/* end change background color */


.largerwidth{
		max-width:1000px;
		text-align:left;
		color:#525252;
		margin:auto;
		width:80%;
		font-family:'overpass', sans-serif !important;
		font-size:15px;
		font-weight:lighter;
		line-height:30px;
		margin-bottom:30px;

}


ul.takeaways{
	list-style:disc;
	text-align:left;
	margin-left:20px;
	padding-left:10px;
}

.takeaways li{
	margin-bottom:20px;

}


.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(images/preload.gif) center no-repeat #fff;
}

.slick-slide {
	margin: 20px 20px;
}

.slick-slide img {
	width: 100%;

	border:1px solid #eaeaea;

	text-align:center;
	/*border: 5px solid white;*/
}

.slick-prev:before,
.slick-next:before {
		color: #909090 !important;
}

.slick-prev,
.slick-next {
		color: red !important;
}


.mockupimg{
	width:50%;
	margin:10px 0 60px 0px;
}

.singlemockupimg{
	width:15%;
	margin:10px 0 60px 0px;
}

.mockupimg-wide{
	width:50%;
	margin:10px 0 60px 0px;
}

b{
	font-weight:700;
	color:#000;
}



/*MEDIA*/
@media screen and (min-width:680px) and (max-width: 850px){
	.card2{
		font-size:12px;
		padding:30px;
		margin: 15px 5px 0px 5px;
		width:35vw;
		height:300px;
	}



	.follow-me-text{
		display:none;
	}

	.whitebg{
		margin:100px;
	}

	.sidebar{
		display:none;
	}

	.container-img{
		padding:30px;
	}



	.panel-text{
		width:40vw !important;
		text-align:left;
		font-family:"overpass", sans-serif;
		color:#fff;
		font-size:15px;
		padding:50px 10px 50px 50px;
	}

	.panel-text-dark{
		width:40vw !important;
		text-align:left;
		font-family:"overpass", sans-serif;
		color:#282828;
		font-size:15px;
		padding:50px 10px 50px 50px;
	}

	.singlemockupimg{
		width:20%;
	}

	.card{
		font-size:12px;
		padding:30px;
		margin: 15px 5px 0px 5px;
		width:30vw;
		height:300px;
	}

	.mockupimg{
		width:60%;
		margin:-10px 0 50px 0px;
	}

	.mockupimg-wide{
		width:65%;
		margin:-10px 0 50px 0px;
	}


	.footer-img img{
		width:8vw;
	}

	.number{
	 color:#f7f7f7;
 }

 .number2{
	color:#f7f7f7;
 }
 .about-image{
	 margin-top:50px;
 }
}


@media screen and (min-width:850px) and (max-width: 990px){


	.about-image{
		margin-top:30px;
	}
	.follow-me-text{
		display:none;
	}

	.whitebg{
		margin:100px;
	}

	.sidebar{
		display:none;
	}

	.container-img{
		padding:30px;
	}



	.panel-text{
		width:40vw !important;
		text-align:left;
		font-family:"overpass", sans-serif;
		color:#fff;
		font-size:15px;
		padding:50px 10px 50px 50px;
	}

	.panel-text-dark{
		width:40vw !important;
		text-align:left;
		font-family:"overpass", sans-serif;
		color:#282828;
		font-size:15px;
		padding:50px 10px 50px 50px;
	}

	.singlemockupimg{
		width:20%;
	}

	.card{
		font-size:12px;
		padding:30px;
		margin: 15px 5px 0px 5px;
		width:30vw;
		height:300px;
	}

	.card2{
		font-size:12px;
		padding:30px;
		margin: 15px 5px 0px 5px;
		width:40vw;
		height:350px;
	}

	.mockupimg{
		width:60%;
		margin:-10px 0 50px 0px;
	}

	.mockupimg-wide{
		width:65%;
		margin:-10px 0 50px 0px;
	}


	.footer-img img{
		width:8vw;
	}

	.number{
	 color:#f7f7f7;
 }

 .number2{
	color:#f7f7f7;
 }
}



@media screen and (min-width:990px) and (max-width: 1250px){
	.about-image{
		margin-top:50px;
	}
	.preview-right{
		font-size:10px;
		padding:20px 10px 20px 10px;
	}

	.category{
		font-size:10px;
	}

	.underline{
		font-size:12px;
	}


	.mockupimg{
		width:55%;
		margin:-10px 0 50px 0px;
	}

	.mockupimg-wide{
		width:60%;
		margin:-10px 0 50px 0px;
	}


	.card{
		font-size:13px;
		padding:30px;
		margin: 15px 5px 0px 5px;
		width:30vw;
		height:300px;
	}

	.card2{
		font-size:13px;
		padding:30px;
		margin: 15px 5px 0px 5px;
		width:22vw;
		height:350px;
	}


}


@media screen and (max-width:680px){

	.header h1 span{
	  border-bottom:4px solid yellow;
		font-size:60px;

	}

	.text{
		font-size:30px;
	}

	.number2{
		font-size:50px;
	}

	.container-footer{
		width:100%;
		font-size:20px;
		margin-left:-40px;
	}

	.footer-img img{
		width:10vw;
	}

	.mockupimg{
		width:80%;
		margin:-10px 0 50px 0px;
	}

	.mockupimg-wide{
		width:85%;
		margin:-10px 0 50px 0px;
	}

	.singlemockupimg{
		width:30%;
		margin:10px 0 60px 0px;
	}

	.events-content{
		margin-left:-20px !important;
	}

	.header{
		font-size:15px;
		margin:70px;
	}

	#portfolio{
		font-size:15px;
	}

	.whitebg{
		margin:10px;
	}
	.preview-right{
		display:none;
	}
	.preview-left{
		width:100%;
	}

	.text-boxes{
		font-size:20px;
		margin:10px;
	}


	.text-boxes img{
	  cursor:pointer;
		border:5px solid #ebebeb
	}

	header {
			text-align:center;
			padding-left:0px;
	}

	.panel-text{
		width:100vw !important;
		text-align:left;
		font-family:"overpass", sans-serif;
		color:#fff;
		font-size:15px;
		padding:50px 10px 50px 50px;
	}

	.panel-text-dark{
		width:100vw !important;
		text-align:left;
		font-family:"overpass", sans-serif;
		color:#282828;
		font-size:15px;
		padding:50px 10px 50px 50px;
	}

	.panel-image{
		width:55vw !important;
		margin-right:-20vw;
	}

	.panel {
	  /* min height incase content is higher than window height */
		display: flex;
	  justify-content: flex-start;
	  height: 100vh;
	  font-family: "overpass", sans-serif;
	  /*outline: 10px solid hotpink;*/
	  /* turn above on to see the edge of panels */
	}

		.card{
			font-size:12px;
			padding:20px;
			margin: 15px 5px 0px 5px;
			width:40vw;
			height:250px;
		}
		.card2{
			font-size:12px;
			padding:20px;
			margin: 15px 5px 0px 5px;
			width:60vw;
			height:300px;
		}
}


@media screen and (max-width:550px){
	.header{
		font-size:15px;
		margin:20px;
		margin-top:50px;
	}

	.singlemockupimg{
		width:50%;
	}

	.panel-text-dark h2{
		font-size:20px;
		color:#282828;
	}

	.fourtypercent{
		width:100%;
	}

	.fourtypercent2{
		display:none;
	}

	.panel-text{
		width:100vw !important;
		text-align:left;
		font-family:"overpass", sans-serif;

		font-size:15px;
		padding:50px 10px 50px 20px;
	}

	.panel-text-dark{
		width:100vw !important;
		text-align:left;
		font-family:"overpass", sans-serif;
		color:#282828;
		font-size:15px;
		padding:50px 10px 50px 20px;
	}

	.panel-link a{
		color:#000 !important;
		background-color:#fff;
		padding:8px;
		display:inline-block;
		width:150px;
	}

	.panelwrapper{
		display:none;
	}

	.panel-text h2{
		margin-top:0;
		margin-bottom:-10px;
		font-size:20px;
		font-family:"overpass", sans-serif;

	}

.card{
	font-size:12px;
	padding:15px;
	margin: 15px 5px 0px 5px;
	width:70vw;
	height:200px;
}

.card2{
	font-size:12px;
	padding:15px;
	margin: 15px 5px 0px 5px;
	width:70vw;
	height:300px;
}

a.pinklink{
	font-size:11px;
}


a.medium-button{
	margin:10px;
}

}

@media all and (min-width: 500px) {
    .about-text {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
    .about-image {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
}
