
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




body {
  height:100%;
  padding: 0;
  text-align: center;
  font-family: 'Jaldi', sans-serif;
	font-weight:300;
  position: relative;
  margin: 0;
	background-image: url(bg.jpg);
	background-size:100vw;
}


.name{
	line-height:normal;
	margin-left:0;
}

 .graybg span{
	background-color:red;
}

.bg {
  position: relative;
  min-height: 100vh !important;
	max-height:100vh !important;
  z-index:-100;
}

.ibg-bg {
  position: absolute;

}

header {
		text-align:left;
		background-color: rgba(255, 255, 255, 0.8);
		padding: 20px;
    height:80px;
    position: fixed;
    top: 0;
    transition: top 0.5s ease-in-out;
    width: 100%;
		z-index:999999;
		font-family:"helvetica";
		font-size:30px;
		font-weight:bold;
}

header a:hover{
	color:#000;
}


.text{
	max-width:900px;
  background-color:#fff;
  font-size:18px;
	line-height:28px;
  padding:60px;
	text-align:left;
	font-family:'Jaldi', sans-serif;
	color:#808080;
}

.wrapper-top{
	min-height:100vh;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 900px;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}


.events-content em span{
  border-bottom:2px solid yellow;
}

a span{
	-webkit-transition: 0.5s; /* Safari */
	transition: 0.5s;
	-moz-transform:0.5s;
	-ms-transform:0.5s;
	-o-transform:0.5s;
}

a:hover span{
  text-decoration:none!important;
  border-bottom:2px solid #ffdbd0;
  cursor:pointer;
}


.follow-me-text{
  position:absolute;
	text-align:center;
  padding-top:10px;
  padding-bottom:10px;
  width:100%;
  font-size:15px;
  color:#6c6c6c;
	font-family:'Jaldi',sans-serif;
}
.follow-me-text{
  top:80%;
  transform: translateY(-100%);
}

.follow-me-text span{
  background-color:#fff;
	border-bottom:4px solid yellow;
}

.name span a{
	background-color:yellow;
	color:black;
}

.name span a:hover{
	background-color:#f1f1f1;
	color:black;
}


.main-front {
  width: 100%;
}

.main {
  min-height:100vh;
  width: 100%;
  margin: 0 auto;
}

.cover{
	background-size:cover;
	min-height:100vh;
	margin-bottom:150px;
}

.container-img i{
	font-size:18px;
}

i{
	color:#656565;
}

.container-img{
	width:100%;
	padding:50px;
	margin:auto;
	margin-bottom:80px;
	background-size:cover;
	overflow:hidden;
	text-align:center;
	color:#525252;
	font-family:"freight-text-pro";
	font-size:22px;
	font-weight:lighter;
	line-height:35px;
}

.container-img-header{
	width:90%;
	margin:auto;
	margin-bottom:-10px;
	background-size:cover;
}

.right-img{
	float:right;
}

.left-img{
	float:left;
}

.container-img img{
	-webkit-box-shadow: 0px 0px 15px 0px rgba(224,224,224,1);
	-moz-box-shadow: 0px 0px 15px 0px rgba(224,224,224,1);
	box-shadow: 0px 0px 15px 0px rgba(224,224,224,1);
	margin:2%;

}

.container-dark{
	max-width:750px;
	text-align:left;
	color:#525252;
	margin:auto;
	width:80%;
	font-family:"freight-text-pro";
	font-size:22px;
	font-weight:lighter;
	line-height:35px;
	margin-bottom:80px;
}


.container-light{
	max-width:750px;
	text-align:left;
	color:#fff;
	margin:auto;
	width:80%;
	font-family:"freight-text-pro";
	font-size:22px;
	font-weight:lighter;
	line-height:35px;
	margin-bottom:80px;
}

.wrapper{
  height:100%;
  width:100%;
  display:table;
  margin:auto;

}

.text{
  margin:auto;
  position:relative;
}

.left-main{
  mix-blend-mode:darken;
}

.right-main{
  background-color:#ffdbd0;
  mix-blend-mode:darken;
  height:50vh;
  margin-top:20%;
}

.right-right{
  background-color:yellow;
  mix-blend-mode:darken;
  height:50vh;
  margin-top:20%;
}


::-moz-selection { background: yellow; }
::selection { background: yellow; }





#portfolio{
	margin-top:80px;
  font-size: 12px;
  font-family:'Jaldi', sans-serif;
  color:#b6b6b6;
  text-align:center;
}

.contain{
	overflow:hidden;
}



.contain2{
	margin-bottom:50px;
	font-family:'Jaldi', sans-serif !important;
	text-transform:uppercase;
	font-size:10px;
}

.contain2 a{
	font-size:12px;
	background-color:#fff;
	-webkit-transition: 0.5s; /* Safari */
	transition: 0.5s;
	-moz-transform:0.5s;
	-ms-transform:0.5s;
	-o-transform:0.5s;
}

.contain2 a:hover{
	font-size:12px;
	background-color:#eaeaea;

}


.text-boxes{
  text-align:center;
  padding:40px;
  margin:40px;
  font-size:14px !important;
  line-height:22px !important;
  color:#393939;
  background-color:#fff;
	font-family:"Jaldi", sans-serif;
}

.text-boxes img{
  cursor:pointer;
	border:15px solid #ebebeb
}

.hover-box{
  display:none;
  background-color:pink;
  padding:50px;
  margin:50px;
  margin-left:-100px;
}





nav {
    width:300px;
    background-color:transparent;
    color:white;
    padding:0 12px;
    font-size:15px;
    text-align:right;
    text-transform:lowercase;
}

nav.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    margin-top:100px;
}


a.nav-active {
    color:black;
}

h1{
  font-weight:bold;
	font-size:40px !important;
  margin-top:50px !important;
	font-family:"Jaldi",sans-serif;
}

span.hello3{
	border-bottom:3px solid yellow;
}

span.hello4{
	color:#fff;
	font-style:italic;
	font-size:20px;
}




span.hello-light{
	border-bottom:3px solid yellow;
	color:#fff;
}

span.hello-dark{
	border-bottom:3px solid yellow;
	color:#525252;
}


h2 {
  font-size: 30px;
  font-family:"Jaldi", sans-serif;;
  color:#333;
	margin-bottom:50px;
}

h3{
  font-size:20px;
  text-align:left;
  font-weight:normal;
  margin:0;
}

h4{
	font-size:40px;
	text-align:left;
	font-family:"Jaldi", sans-serif;
	margin: 30px 0px;
	font-weight:bold;
}


.underline {
  border-bottom:2px solid yellow;
  color:#333;
  font-size:15px;
}

b.highlight2{
	font-size:15px;
	border-bottom:2px solid yellow;
	color:#333;
  background-color:white;
	-webkit-transition: 0.5s; /* Safari */
	transition: 0.5s;
	-moz-transform:0.5s;
	-ms-transform:0.5s;
	-o-transform:0.5s;
	font-weight:normal;
}

b.highlight{
  background-color:yellow;
	-webkit-transition: 0.5s; /* Safari */
	transition: 0.5s;
	-moz-transform:0.5s;
	-ms-transform:0.5s;
	-o-transform:0.5s;
	font-weight:normal;
}

a.pinklink{
  color:#656565;
	-webkit-transition: 0.5s; /* Safari */
	transition: 0.5s;
	-moz-transform:0.5s;
	-ms-transform:0.5s;
	-o-transform:0.5s;
	background-color:#ededed;
}

a.pinklink:hover{
  /*color:#fa9a7d;*/
	background-color:yellow;

}

a.smallerlink{
	color:#fa9a7d;
	font-size:16px;
	-webkit-transition: 0.5s; /* Safari */
	transition: 0.5s;
	-moz-transform:0.5s;
	-ms-transform:0.5s;
	-o-transform:0.5s;
}

a.smallerlink:hover{
	color:#f2805d;

}

a{
  color:#808080;
  text-decoration:none;
	-webkit-transition: 0.5s; /* Safari */
	transition: 0.5s;
	-moz-transform:0.5s;
	-ms-transform:0.5s;
	-o-transform:0.5s;
}

a.highlight:hover{
  border-bottom:2px solid yellow;
}


a.image{
  text-decoration:none;
}

a.image:hover{
  border:none;
  text-decoration:none;
}

.fa{
  color:#fa9a7d;
	-webkit-transition: 0.5s; /* Safari */
	transition: 0.5s;
	-moz-transform:0.5s;
	-ms-transform:0.5s;
	-o-transform:0.5s;
}

.fa:hover{
  color:#ffdbd0;

}

.arrow  {
  color:#b1b1b1;
	-webkit-transition: 0.5s; /* Safari */
	transition: 0.5s;
	-moz-transform:0.5s;
	-ms-transform:0.5s;
	-o-transform:0.5s;
}

.arrow:hover  {
  color:#000;

}




.category{
  padding: 2px;
  font-size:12px;
  color:#333333;
  font-family:"Jaldi", sans-serif;
  background-color:#f1f1f1;
	-webkit-transition: 0.5s; /* Safari */
	transition: 0.5s;
	-moz-transform:0.5s;
	-ms-transform:0.5s;
	-o-transform:0.5s;
	text-transform:lowercase;
}

.category:hover{
  background-color:#d8d8d8;

}

.category1{
  padding: 5px;
  font-size:11px;
  color:#656565;
  font-family:"Jaldi", sans-serif;;
  background-color:#fff;

	-webkit-transition: 0.5s; /* Safari */
	transition: 0.5s;
	-moz-transform:0.5s;
	-ms-transform:0.5s;
	-o-transform:0.5s;
}

.category1:hover{
	background-color:#f1f1f1;

}

.preview{
  border:15px solid #fff;
  width:100%;
  margin-top:100px;
  background-color:#f1f1f1;
  margin-bottom:15px;
}


.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*header {
		text-align:left;
		background-color: rgba(255, 255, 255, 0.8);
		padding: 20px;
		padding-left:50px;
    height:80px;
    position: fixed;
    top: 0;
    transition: top 0.5s ease-in-out;
    width: 100%;
		z-index:999999;
		font-family:"Helvetica";
		font-size:24px;
		font-weight:bold;
}

.header {
  overflow: hidden;
  clear: both;
  margin:100px;
  margin-right:100px;
  text-align:left;
  position:relative;
  height:100vh;
  font-size:20px;
}

header a:hover{
	color:#000;
}*/

.nav-up {
    top: -90px;
}



.preview-left{
	width:70%;
	float:left;
	padding:0;
	margin:0;
	margin-bottom:100px;
	-webkit-transition: .5s; /* Safari */
  transition: .5s;
  -moz-transform:.5s;
  -ms-transform:.5s;
  -o-transform:.5s;
}

.preview-left:hover{
	-webkit-box-shadow: -7px 7px 0px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: -7px 7px 0px 2px rgba(0,0,0,0.24);
	box-shadow: -7px 7px 0px 2px rgba(0,0,0,0.24);


}

.preview-right{
	width:30%;
	background-color:#fff;
	height:100%;
	padding:30px 20px 30px 20px;
	float:left;
	text-align:center !important;
}


/* change background color */

/* Setting fade transition and default settings */
body {
  background-color: #f6f6f6;
  transition: background-color 1s ease;
}

/* panel styles */

.panel {
  /* min height incase content is higher than window height */
	display: flex;
  justify-content: space-around;
  height: 100vh;
  font-family: sans-serif;
  /*outline: 10px solid hotpink;*/
  /* turn above on to see the edge of panels */
}

.panelwrapper{
	height:20vh;
}


.panel-category{
	display:inline-block;
  padding: 2px;
  font-size:14px;
  color:#333333;
  font-family:"Jaldi", sans-serif;
  background-color:#fff;
	-webkit-transition: 0.5s; /* Safari */
	transition: 0.5s;
	-moz-transform:0.5s;
	-ms-transform:0.5s;
	-o-transform:0.5s;
	text-transform:lowercase;
	opacity: 0.8;
  filter: alpha(opacity=80);
}

.panel-category:hover{
	  background-color:#fff;
		opacity: 1.0;
		filter: alpha(opacity=100);
}

.panel-body-text{
	opacity:0.9;
	filter: alpha(opacity=90);
}

.panel-text{
	width:40vw !important;
	text-align:left;
	font-family:"Jaldi", sans-serif;
	color:#fff;
	font-size:18px;
	padding:50px 10px 50px 100px;
}

.panel-text h2{
	margin-top:0;
	margin-bottom:-10px;
	font-size:40px;
	font-family:"Jaldi", sans-serif;
	color:#fff;
}

.panel-text h3{
	opacity:0.9;
	filter: alpha(opacity=90);
}

.panel-text-dark{
	width:40vw !important;
	text-align:left;
	font-family:"Jaldi", sans-serif;
	color:#282828;
	font-size:18px;
	padding:50px 10px 50px 100px;
}

.panel-text-dark h2{
	margin-top:0;
	margin-bottom:-10px;
	font-size:40px;
	font-family:"Jaldi", sans-serif;
	color:#282828;
}

.panel-text-dark h3{
	opacity:0.8;
	filter: alpha(opacity=80);
}

.panel-image{
	width:55vw;
	margin-left:5vw;
	margin-right:-10vw;
}

 .fourtypercent{
	 width:40%;
 }

 .fourtypercent2{
	 width:40%;
 }

.img-shadow{
	-webkit-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.45);
	-moz-box-shadow:    0px 0px 25px 0px rgba(50, 50, 50, 0.45);
	box-shadow:         0px 0px 25px 0px rgba(50, 50, 50, 0.45);
	margin-right:25px;
}

.panel-link-white a{
	color:#000 !important;
	background-color:#fff;
	padding:8px;
	display:inline-block;
	width:150px;
	text-align:center;
	font-weight:bold;
	-webkit-transition: 0.5s; /* Safari */
	transition: 0.5s;
	-moz-transform:0.5s;
	-ms-transform:0.5s;
	-o-transform:0.5s;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.45);
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.45);
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.45);
}

.panel-link-white a:hover{
	background-color:#f9f9f9;
	color:#000;
}


.panel-link a{
	color:#000;
	background-color:#fff;
	padding:8px;
	display:inline-block;
	width:150px;
	text-align:center;
	font-weight:bold;
	-webkit-transition: 0.5s; /* Safari */
	transition: 0.5s;
	-moz-transform:0.5s;
	-ms-transform:0.5s;
	-o-transform:0.5s;
}

.panel-link a:hover{
	background-color:#f9f9f9;
	color:#000;
}


/* colors */
.color-transparent {
  background-color:transparent;
}
.color-pawtty {
  background-color: #fbd8c8;
	background-blend-mode:darken;
}
.color-climb {
  background-color: #4D596E;
	background-blend-mode:darken;
}

.color-leaguemobile {
  background-color: #fff;
	background-blend-mode:lighten;
}
.color-bvui {
  background-color: #98cbbc;
	background-blend-mode:darken;
}
.color-bvanalytics {
  background-color: #e7bcad;
	background-blend-mode:darken;
}


/* end change background color */

nav {
    width:200px;
    background-color:transparent;
    color:white;
    font-family:"Jaldi", sans-serif;
    padding:0 12px;
    font-size:15px;
    text-align:right;
    text-transform:lowercase;
		display:none;
		margin-top:100px;
}

nav.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    margin-top:100px;
}

nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

nav li {

}

nav li a {
    color:#aaa;
    background-color:white;
    line-height:35px;
    border-bottom:2px solid yellow;
    text-decoration:none;

		-webkit-transition: 0.5s; /* Safari */
		transition: 0.5s;
		-moz-transform:0.5s;
		-ms-transform:0.5s;
		-o-transform:0.5s;
}

nav li a:hover{
  text-decoration:none;
  color:black;
}

a.nav-active {
    color:black;

}



ul.takeaways{
	list-style:circle;
	text-align:left;
}


.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(images/preload.gif) center no-repeat #fff;
}


/*MEDIA*/

@media screen and (max-width: 990px) {
	.follow-me-text{
		display:none;
	}

	.whitebg{
		margin:100px;
	}

	.nav{
		display:none;
	}

	.sidebar{
		display:none;
	}

	.container-img{
		padding:30px;
	}


	.panel-text{
		width:40vw !important;
		text-align:left;
		font-family:"Jaldi", sans-serif;
		color:#fff;
		font-size:18px;
		padding:50px 10px 50px 50px;
	}

	.panel-text-dark{
		width:40vw !important;
		text-align:left;
		font-family:"Jaldi", sans-serif;
		color:#282828;
		font-size:18px;
		padding:50px 10px 50px 50px;
	}
}

@media screen and (min-width:990px) and (max-width: 1250px){
	.preview-right{
		font-size:10px;
		padding:20px 10px 20px 10px;
	}

	.category{
		font-size:10px;
	}

	.underline{
		font-size:12px;
	}
}


@media screen and (max-width:680px){
	.header h1 span{
	  border-bottom:4px solid yellow;
		font-size:60px;
	}


	.events-content{
		margin-left:-20px !important;
	}
	.text{
		font-size:15px;
	}

	.header{
		font-size:15px;
		margin:70px;
	}

	#portfolio{
		font-size:15px;
	}

	.whitebg{
		margin:10px;
	}
	.preview-right{
		display:none;
	}
	.preview-left{
		width:100%;
	}

	.text-boxes{
		font-size:20px;
		margin:10px;
	}


	.text-boxes img{
	  cursor:pointer;
		border:5px solid #ebebeb
	}

	header {
			text-align:center;
			padding-left:0px;
	}

	.panel-text{
		width:100vw !important;
		text-align:left;
		font-family:"Jaldi", sans-serif;
		color:#fff;
		font-size:15px;
		padding:50px 10px 50px 50px;
	}

	.panel-text-dark{
		width:100vw !important;
		text-align:left;
		font-family:"Jaldi", sans-serif;
		color:#282828;
		font-size:15px;
		padding:50px 10px 50px 50px;
	}

	.panel-image{
		width:55vw !important;
		margin-right:-20vw;
	}

	.panel {
	  /* min height incase content is higher than window height */
		display: flex;
	  justify-content: flex-start;
	  height: 100vh;
	  font-family: sans-serif;
	  /*outline: 10px solid hotpink;*/
	  /* turn above on to see the edge of panels */
	}
}


@media screen and (max-width:550px){
	.header{
		font-size:15px;
		margin:20px;
		margin-top:50px;
	}

	.panel-text h2{
		margin-top:0;
		margin-bottom:-10px;
		font-size:25px;
		font-family:"Jaldi", sans-serif;
		color:#fff;
	}
	.panel-text-dark h2{
		margin-top:0;
		margin-bottom:-10px;
		font-size:25px;
		font-family:"Jaldi", sans-serif;
		color:#282828;
	}

	.fourtypercent{
		width:100%;
	}

	.fourtypercent2{
		display:none;
	}

	.panel-text{
		width:100vw !important;
		text-align:left;
		font-family:"Jaldi", sans-serif;
		color:#282828;
		font-size:15px;
		padding:50px 10px 50px 50px;
	}

	.panel-text-dark{
		width:100vw !important;
		text-align:left;
		font-family:"Jaldi", sans-serif;
		color:#282828;
		font-size:15px;
		padding:50px 10px 50px 50px;
	}

	.panel-link a{
		color:#000 !important;
		background-color:#fff;
		padding:8px;
		display:inline-block;
		width:150px;
		text-align:center;
		font-weight:bold;
		-webkit-transition: 0.5s; /* Safari */
		transition: 0.5s;
		-moz-transform:0.5s;
		-ms-transform:0.5s;
		-o-transform:0.5s;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.45);
		-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.45);
		box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.45);
	}

	.panelwrapper{
		display:none;
	}
}

@media screen and (max-height:650px){
	.follow-me-text{
		display:none;
	}


}
